# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Plat-dot-NET-32INF-SSI-NP_LAB_03_Adrian_Stanisz.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
